@import 'macro.scss';
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}
#background {
    z-index: -2;
}
#main {
    z-index: -1;
}
#ship {
    z-index: 0;
}
#text {
    z-index: 5;
    color: white;
}
.score {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: $primaryColor;
    user-select: none;
    font-size: 30px;
    #score{
        font-size: 30px;
    }
}
.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $primaryColor;
    font-size: 30px;
    user-select: none;
    display: none;
    span{
        display: block;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        &:hover {
            color: $secondaryColor;
        }
    }
}