@import 'keyframe.scss';
$PlayerColor: rgb(117, 137, 165);
$NPCColor:rgb(192, 132, 132);

$COLORS:#3BACB6 
        #FFE4B6 
        #F6979C 
        #E43D70 
        #93CACD
        #E38A74 
        #BF5967 
        #FFE8B7 
        #FFBE87
        #BF5967
;

@mixin config-bg($colors...) {
    @for $i from 1 through 10{
        &:nth-child(#{$i}){
            background: darken(nth($colors,$i),10)
        }
    }
}

#quiMenu{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8); 
    z-index: 5;
    display: none;
    .quiMenuItem{
        position: relative;
        user-select: none;
        width: 100%;
        height: 18%;
        color: white;
        font-size: 2rem;
        box-sizing: border-box;
        padding: 3%;
        margin-bottom: 1%;
        @include config-bg($COLORS...);
        transition: .3s;
        &.played{
            pointer-events: none;
            background: #aaa;
            text-decoration: line-through;
        }
    }
    &.initMove{
        .quiMenuItem:nth-child(odd){
            animation:slideInRight 1.5s;
        }
        .quiMenuItem:nth-child(even){
            animation:slideInLeft 1.5s;
        }
    }
    &.fadeOut{
        animation: fadeOut 1s;
    }
    &.slideOut{
        .quiMenuItem:nth-child(odd){
            animation:slideOutLeft 1s;
        }
        .quiMenuItem:nth-child(even){
            animation:slideOutRight 1s;
        }
    }
}
#quickThink{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8); 
    color: white;
    opacity: 0;

    #quiHeader{
        $h:13vh;
        width: inherit;
        height: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .quiPlayer{
            width: $h;
            height: $h;
            border: 5px solid white;
            &:first-child{
                left: 10%;
                background: $PlayerColor;
            }
            &:last-child{
                right: 10%;
                background: $NPCColor;
            }
        }
        #quiTimer{
            width: $h;
            height: $h;
            border-radius: $h / 2;
            line-height: $h;
            font-size: 4rem;
            text-align: center;
            user-select: none;
        }
        &.timerLoad{
            #quiTimer{
                animation: zoomIn2 500ms ease-out;
            }
        }
        &.getInto{
            .quiPlayer{
                &:first-child{
                    animation: left-up 250ms ease-in;
                }
                &:last-child{
                    animation: right-up 250ms ease-in;
                }
            }
        }
    }
    #quiContent{
        position: absolute;
        user-select: none;
        left: 0;
        top: 30%;
        height: 75%;
        width: 100%;
        font-size: 1.2rem;
        padding-top: 5%;
        #quiTitle{
            position: absolute;
            user-select: none;
            top: 0;
            width: 100%;
            text-align: center;
            font-size: 3rem;
            opacity: 0;
        }
        #quiQuestion{
            position: fixed;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%);
            height: 25%;
            width: 63%;
            display: flex;
            #quiQContent{
                align-self: center;
                text-align: justify;
            }
        }
        #quiOptions{
            position: fixed;
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            pointer-events: none;
            .quiOption{
                cursor: pointer;
                $color:rgb(238, 238, 238);
                color: #555;
                width: 65%;
                padding: 2% 4%;
                background: $color;
                margin: 4% auto;
                border-radius: 2px;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;
                &:hover{
                    transition: .3s;
                    background: darken($color,10);
                }
                &.click-true{
                    animation: pulse-true 150ms;
                }
                &.click-false{
                    animation: pulse-false 150ms;
                }
            }
        }
        &.TitleLoad{
            #quiTitle{
                animation: fadeInUp 500ms;
            }
        }
        &.QLoad{
            #quiQuestion{
                animation: fadeIn 250ms;
            }
        }
        &.ALoad{
            #quiOptions{
                animation: bounceIn 400ms;
            }
        }
    }
    #quiBarContainer{
        position: absolute;
        width: 100%;
        .quiBar{
            position: absolute;
            height: 100%;
            width: 4vw;
            box-sizing: border-box;
            border: 2px solid rgba(255,255,255,.4);
            border-radius: 2px;
            &::after{
                content: "";
                position: absolute;
                display: block;
                left: 0;
                bottom: 0;
                border: 2px solid transparent;
                width: 3vw;
                box-sizing: border-box;
                transition: ease-out;
            }
            &:first-child{
                left: 4%;
                height: 100%;
                &::after{
                    background: $PlayerColor;
                    width: 3vw;
                }
            }
            &:last-child{
                right: 4%;
                height: 100%;
                &::after{
                    background: $NPCColor;
                    width: 3vw;
                }
            }
        }
    }
}